/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.swal2-popup {
  border-radius: 4rem; /* Tailwind: rounded-lg */
  background-color: #1f2937; /* Tailwind: bg-gray-800 */
  color: #f9fafb; /* Tailwind: text-gray-100 */
}
